Lists Index

<h1>Lists</h1>



<ul>
  <% @lists.each do |list| %>
<! -- Ad links within iteration -->
  <li>
    <%=link_to list.name, list_path(list) %>
  </li>
  <% end %>
<ul>

<p><%= link_to "Add movie List", new_list_path, class: "btn btn-success text-align: center" %></p>
