<div class="banner" width="10" height="10" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);" >
  <div class="container">
    <h1>Here is your <strong>Movies List!</h1>
    <p>Take a look at the current movie list or adda  new one.</p>
  </div>
</div>


<ul>
  <% @lists.each do |list| %>

<div class="movie-list-item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <li>
    <%=link_to list.name, list_path(list) %>
  </li>
</div>



  <% end %>
<ul>

<p><%= link_to "Add movie List", new_list_path, class: "btn btn-success text-align: center" %></p>
