<h1>New Lists Created Here</h1>

<%= simple_form_for [@list, @movies] do |f| %>
  <%= f.input :name, collection: ["Movie 1", "Movie 2"] %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
